parameters:
    level: 2
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - .
    bootstrapFiles:
        - vendor/bitexpert/phpstan-magento/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
    ignoreErrors:
        - '/ has no return typehint specified./'
    reportUnmatchedIgnoredErrors: false
